*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* background-color: rgb(24, 24, 24); */
  scroll-behavior: smooth;
  overflow-x: clip;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  top: 0;
}

.app {
  width: 100%;
  min-height: 100vh;
  --bg: #ffffff;
  --text: rgb(42, 42, 42);
  --primary: #e69327;
  --secondary: rgb(219, 215, 191);
  background-color: var(--bg);
  color: var(--text);
  font-family: OpenSans;
  display: flex;
  font-size: 0.9rem;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.layout {
  width: 100%;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
}

img {
  pointer-events: none;
}

@font-face {
  font-family: OpenSans;
  src: url("/fonts/open_sans/OpenSans-VariableFont_wght.ttf");
}

@media (max-height: 600px) {
  html {
    overflow-x: clip;
  }
}
